<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title><%= appname %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="styles/main.css">
        <% if (includeModernizr) { %>
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <% } %>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <% if (includeBootstrap) { %>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted"><%= appname %></h3>
            </div>

            <div class="jumbotron" id="app">
                <h1>'Allo, 'Allo!</h1>
                <p class="lead">Always a pleasure scaffolding your apps.</p>
                <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
            </div>

            <div id="content" class="row marketing">
                <div class="col-lg-6">
                    <h4>HTML5 Boilerplate</h4>
                    <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

                    <% if (includeSass) { %><h4>Sass with Compass</h4>
                    <p>Compass is an open-source CSS Authoring Framework that uses Sass.</p>
                    <% } %>

                    <% if (includeStylus) { %><h4>Stylus</h4>
                    <p>Expressive, dynamic, robust CSS</p>
                    <% } %>

                    <% if (includeCoffeeScript) { %><h4>CoffeeScript</h4>
                    <p>A little language that compiles into JavaScript</p>
                    <% } %>

                    <h4>jQuery</h4>
                    <p>The Write Less, Do More, JavaScript Library.</p>

                    <% if (includeBootstrap) { %><h4>Bootstrap</h4>
                    <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
                    <% } %>

                    <% if (includeModernizr) { %><h4>Modernizr</h4>
                    <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
                    <% } %>
                </div>
            </div>

            <div class="footer">
                <p>♥ from the Yeoman team</p>
            </div>

        </div>
        <% } else { %>
        <div id="app"></div>
        <div class="hero-unit">
          <h1>'Allo, 'Allo!</h1>
          <p>You now have</p>
          <ul>
            <li>HTML5 Boilerplate</li>
            <% if (includeSass) { %><li>Sass with Compass</li><% } %>
            <% if (includeStylus) { %><li>Stylus</li><% } %>
            <% if (includeModernizr) { %><li>Modernizr</li><% } %>
            <% if (includejQuery) { %><li>jQuery</li><% } %>
            <% if (includeCoffeeScript) { %><li>CoffeeScript</li><% } %>
          </ul>
        </div>
        <% } %>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <% if (includeBootstrap || includejQuery) { %><script src="bower_components/jquery/dist/jquery.js"></script><% } %>
        <% if (includeBootstrap && (!includeSass && !includeStylus)) { %>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script><% } %>
        <% if (includeSass && includeBootstrap) { %><script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script><% } %>
        <% if (includeStylus && includeBootstrap) { %><script src="bower_components/bootstrap-stylus/js/transition.js"></script>
        <script src="bower_components/bootstrap-stylus/js/alert.js"></script>
        <script src="bower_components/bootstrap-stylus/js/button.js"></script>
        <script src="bower_components/bootstrap-stylus/js/carousel.js"></script>
        <script src="bower_components/bootstrap-stylus/js/collapse.js"></script>
        <script src="bower_components/bootstrap-stylus/js/dropdown.js"></script>
        <script src="bower_components/bootstrap-stylus/js/modal.js"></script>
        <script src="bower_components/bootstrap-stylus/js/tooltip.js"></script>
        <script src="bower_components/bootstrap-stylus/js/popover.js"></script>
        <script src="bower_components/bootstrap-stylus/js/scrollspy.js"></script>
        <script src="bower_components/bootstrap-stylus/js/tab.js"></script>
        <script src="bower_components/bootstrap-stylus/js/affix.js"></script>
        <% } %>
        <!-- endbower -->
        <!-- endbuild -->
        <script src="scripts/app.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
